<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}地道风物数据库{% endblock %}</title>
    {% load static %}
    <link href="{% static 'css/style2.css' %}" rel="stylesheet">
    {% block extra_head %}{% endblock %}
</head>
<body>
    <nav class="navbar">
        <a class="navbar-brand" href="{% url 'core_home' %}">地道风物数据库</a>
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="{% url 'img_home' %}">主页</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'img_place_create' %}">增加在地图片</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'img_cultural_create' %}">增加物产图片</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'img_humanistic_create' %}">增加文化图片</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'search_img' %}">搜索</a></li>
        </ul>
    </nav>
    <div class="container mt-4 centered-container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
