<!-- imgapp/templates/img_cultural_detail.html -->
{% extends 'imgapp/base.html' %}
{% load static %}

{% block title %}ImgCultural Detail{% endblock %}

{% block content %}
    <h1 class="mb-4">ImgCultural Detail</h1>
    <p><strong>Keywords:</strong> {{ item.keywords }}</p>
    <p><strong>Information Source:</strong> {{ item.information_source }}</p>
    <p><strong>Information Address:</strong> <a href="{% static '' %}{{ item.information_address }}">{{ item.information_address }}</a></p>
    <p><strong>Copyright Owner:</strong> {{ item.copyright_owner }}</p>
    <p><strong>Photographer Name:</strong> {{ item.photographer_name }}</p>

    <p><strong>Cultural Agri Product Level 1:</strong> {{ item.cultural_agri_product_level1.name }}</p>
    <p><strong>Cultural Agri Product Level 2:</strong> {{ item.cultural_agri_product_level2.name }}</p>

    <p><strong>Cultural Delicacies Level 1:</strong> {{ item.cultural_delicacies_level1.name }}</p>
    <p><strong>Cultural Delicacies Level 2:</strong> {{ item.cultural_delicacies_level2.name }}</p>

    <p><strong>Cultural Processed Product Level 1:</strong> {{ item.cultural_processed_product_level1.name }}</p>
    <p><strong>Cultural Processed Product Level 2:</strong> {{ item.cultural_processed_product_level2.name }}</p>

    <a href="{% url 'img_home' %}" class="btn btn-secondary mt-4">Back to Home</a>
    <button class="btn btn-secondary mt-4" onclick="window.history.back()">Go back</button>

{% endblock %}
