<!-- imgapp/templates/img_cultural_form.html -->
{% extends 'imgapp/base.html' %}

{% block title %}Add ImgCultural{% endblock %}

{% block extra_head %}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">增加物产图片</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_keywords">关键词</label>
            <input type="text" class="form-control" id="id_keywords" name="keywords" style="width: 50%;">
        </div>
        <hr style="border-top: 1px solid #ccc;">
        <div class="form-group">
            <label for="id_information_source">信息来源</label>
            {{ form.information_source }}
        </div>
        <hr style="border-top: 1px solid #ccc;">
        <div class="form-group">
            <label for="id_copyright_owner">知识产权归属</label>
            {{ form.copyright_owner }}
        </div>
        <hr style="border-top: 1px solid #ccc;">
        <div class="form-group">
            <label for="id_information_address">信息地址</label>
            <input type="text" class="form-control" id="id_information_address" name="information_address" style="width: 50%;">
        </div>
        <hr style="border-top: 1px solid #ccc;">
        <div class="form-group">
            <label for="id_photographer_name">摄影师</label>
            <input type="text" class="form-control" id="id_photographer_name" name="photographer_name" style="width: 50%;">
        </div>
        <hr style="border-top: 1px solid #ccc;">
        <div class="form-group">
            <label for="id_cultural_agri_product_level1">初级农产品1级</label>
            {{ form.cultural_agri_product_level1 }}
        </div>
        <div class="form-group">
            <label for="id_cultural_agri_product_level2">初级农产品2级</label>
            {{ form.cultural_agri_product_level2 }}
        </div>
        <hr style="border-top: 1px solid #ccc;">
        <div class="form-group">
            <label for="id_cultural_delicacies_level1">美食1级</label>
            {{ form.cultural_delicacies_level1 }}
        </div>
        <div class="form-group">
            <label for="id_cultural_delicacies_level2">美食2级</label>
            {{ form.cultural_delicacies_level2 }}
        </div>
        <hr style="border-top: 1px solid #ccc;">
        <div class="form-group">
            <label for="id_cultural_processed_product_level1">加工食品1级</label>
            {{ form.cultural_processed_product_level1 }}
        </div>
        <div class="form-group">
            <label for="id_cultural_processed_product_level2">加工食品2级</label>
            {{ form.cultural_processed_product_level2 }}
        </div>
        <button type="submit" class="btn btn-primary mt-3">保存</button>
    </form>
</div>



    <script>
        $(document).ready(function() {
            function updateSelect(url, elementToUpdate) {
                $.ajax({
                    url: url,
                    success: function(data) {
                        elementToUpdate.empty();
                        elementToUpdate.append('<option value="">---------</option>');
                        $.each(data, function(key, value) {
                            elementToUpdate.append('<option value="' + key + '">' + value + '</option>');
                        });
                    }
                });
            }

            function clearSelect(elementsToClear) {
                $.each(elementsToClear, function(index, element) {
                    element.empty().append('<option value="">---------</option>');
                });
            }

            $('.cultural_agri_product_level1').change(function() {
                var selectedValue = $(this).val();
                if (selectedValue) {
                    var url = '/core/get_agri_product_level2/' + selectedValue + '/';
                    updateSelect(url, $('.cultural_agri_product_level2'));
                } else {
                    clearSelect([$('.cultural_agri_product_level2')]);
                }
            });

            $('.cultural_delicacies_level1').change(function() {
                var selectedValue = $(this).val();
                if (selectedValue) {
                    var url = '/core/get_delicacies_level2/' + selectedValue + '/';
                    updateSelect(url, $('.cultural_delicacies_level2'));
                } else {
                    clearSelect([$('.cultural_delicacies_level2')]);
                }
            });

            $('.cultural_processed_product_level1').change(function() {
                var selectedValue = $(this).val();
                if (selectedValue) {
                    var url = '/core/get_processed_product_level2/' + selectedValue + '/';
                    updateSelect(url, $('.cultural_processed_product_level2'));
                } else {
                    clearSelect([$('.cultural_processed_product_level2')]);
                }
            });
        });
    </script>
{% endblock %}
