{% extends 'imgapp/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1 class="mb-4">Welcome to DDFWSql2</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Add ImgPlace</h5>
                    <p class="card-text">Add a new ImgPlace record to the database.</p>
                    <a href="{% url 'img_place_create' %}" class="btn btn-primary">Add TextPlace</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Add ImgCultural</h5>
                    <p class="card-text">Add a new ImgCultural record to the database.</p>
                    <a href="{% url 'img_cultural_create' %}" class="btn btn-primary">Add TextCultural</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Add ImgHumanistic</h5>
                    <p class="card-text">Add a new ImgHumanistic record to the database.</p>
                    <a href="{% url 'img_humanistic_create' %}" class="btn btn-primary">Add TextHumanistic</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Search Records</h5>
                    <p class="card-text">Search for records in the database.</p>
                    <a href="{% url 'search_img' %}" class="btn btn-primary">Search</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
