<!-- imgapp/templates/img_cultural_detail.html -->
{% extends 'imgapp/base.html' %}
{% load static %}

{% block title %}物产图片详情{% endblock %}

{% block content %}
    <h1 class="mb-4">物产图片详情</h1>
    <p><strong>关键词:</strong> {{ item.keywords }}</p>
    <p><strong>信息来源:</strong> {{ item.information_source }}</p>
    <p><strong>信息地址:</strong> <a href="{% static '' %}{{ item.information_address }}">{{ item.information_address }}</a></p>
    <p><strong>知识产权归属:</strong> {{ item.copyright_owner }}</p>
    <p><strong>摄影师:</strong> {{ item.photographer_name }}</p>

    <p><strong>初级农产品1级:</strong> {{ item.cultural_agri_product_level1.name }}</p>
    <p><strong>初级农产品2级:</strong> {{ item.cultural_agri_product_level2.name }}</p>

    <p><strong>美食1级:</strong> {{ item.cultural_delicacies_level1.name }}</p>
    <p><strong>美食2级:</strong> {{ item.cultural_delicacies_level2.name }}</p>

    <p><strong>加工食品1级:</strong> {{ item.cultural_processed_product_level1.name }}</p>
    <p><strong>加工食品2级:</strong> {{ item.cultural_processed_product_level2.name }}</p>

    <a href="{% url 'img_home' %}" class="common-btn mt-4">返回主页</a>
    <button class="common-btn mt-4" onclick="window.history.back()">上一级</button>

{% endblock %}
