{% extends 'imgapp/base.html' %}
{% load static %}
{% block title %}搜索结果{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center mb-4">"{{ query }}"的搜索结果</h1>
    <form method="GET" action="{% url 'search_img' %}" class="text-center mb-4">
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">搜索</button>
    </form>

    {% if results %}
        <div class="result-container">
            {% for result in results %}
                <div class="result-card">
                    <div class="card h-100">
                        <div class="card-body text-center">
                            {% if result.type == 'ImgPlace' %}
                                <a href="{% url 'img_place_detail' result.data.id %}" class="result-link">
                                    <img src="{% static result.data.information_address %}" alt="加载错误" class="img-fluid mb-2" style="width:100px;height:auto;">
                                    <p class="card-text">在地图片: {{ result.data.keywords }}</p>
                                </a>
                            {% elif result.type == 'ImgCultural' %}
                                <a href="{% url 'img_cultural_detail' result.data.id %}" class="result-link">
                                    <img src="{% static result.data.information_address %}" alt="加载错误" class="img-fluid mb-2" style="width:100px;height:auto;">
                                    <p class="card-text">物产图片: {{ result.data.keywords }}</p>
                                </a>
                            {% elif result.type == 'ImgHumanistic' %}
                                <a href="{% url 'img_humanistic_detail' result.data.id %}" class="result-link">
                                    <img src="{% static result.data.information_address %}" alt="加载错误" class="img-fluid mb-2" style="width:100px;height:auto;">
                                    <p class="card-text">文化图片: {{ result.data.keywords }}</p>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="text-center mt-4">没有找到搜索结果</p>
    {% endif %}
</div>


{% endblock %}
