{% extends 'textapp/base.html' %}

{% block title %}搜索结果{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center mb-4">"{{ query }}"的搜索结果</h1>
    <form method="GET" action="{% url 'search_text' %}" class="text-center mb-4">
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">搜索</button>
    </form>

    {% if results %}
        <ul class="list-group mt-4">
            {% for result in results %}
                <li class="list-group-item result-card">

                        {% if result.type == 'TextPlace' %}
                            <a href="{% url 'text_place_detail' result.data.id %}" class="result-link">
                            在地文字: {{ result.data.keywords }}
                        {% elif result.type == 'TextCultural' %}
                            <a href="{% url 'text_cultural_detail' result.data.id %}" class="result-link">
                            物产文字: {{ result.data.keywords }}
                        {% elif result.type == 'TextHumanistic' %}
                            <a href="{% url 'text_humanistic_detail' result.data.id %}" class="result-link">
                            文化文字: {{ result.data.keywords }}
                        {% endif %}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="text-center mt-4">没有找到搜索结果</p>
    {% endif %}
</div>
{% endblock %}
