{% extends 'textapp/base.html' %}

{% block title %}搜索结果{% endblock %}

{% block content %}
    <h1 class="mb-4">"{{ query }}"的搜索结果</h1>
    <form method="GET" action="{% url 'search_text' %}">
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">搜索</button>
    </form>
    
    {% if results %}
        <ul class="list-group mt-4">
            {% for result in results %}
                {% if result.type == 'TextPlace' %}
                    <li class="list-group-item"><a href="{% url 'text_place_detail' result.data.id %}">在地文字: {{ result.data.keywords }}</a></li>
                {% elif result.type == 'TextCultural' %}
                    <li class="list-group-item"><a href="{% url 'text_cultural_detail' result.data.id %}">物产文字: {{ result.data.keywords }}</a></li>
                {% elif result.type == 'TextHumanistic' %}
                    <li class="list-group-item"><a href="{% url 'text_humanistic_detail' result.data.id %}">文化文字: {{ result.data.keywords }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    {% else %}
        <p class="mt-4">没有找到搜索结果</p>
    {% endif %}
{% endblock %}
