{% extends 'textapp/base.html' %}

{% block title %}文字数据库{% endblock %}

{% block content %}
    <h1 class="mb-4">欢迎来到文字数据库</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">增加在地文字</h5>
                    <p class="card-text">录入一条在地文字.</p>
                    <a href="{% url 'text_place_create' %}" class="btn btn-primary">增加在地文字</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">增加在地物产</h5>
                    <p class="card-text">录入一条在地物产.</p>
                    <a href="{% url 'text_cultural_create' %}" class="btn btn-primary">增加在地物产</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">增加在地文化</h5>
                    <p class="card-text">录入一条在地文化.</p>
                    <a href="{% url 'text_humanistic_create' %}" class="btn btn-primary">增加在地文化</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">搜索</h5>
                    <p class="card-text">搜索所有文字.</p>
                    <a href="{% url 'search_text' %}" class="btn btn-primary">搜索</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
