{% extends 'textapp/base.html' %}

{% block title %}文字数据库{% endblock %}

{% block content %}
    <h1 class="title">欢迎来到文字数据库</h1>
    <!-- Use Flexbox to align cards in a row -->
    <div class="wrapper">
        <div class="card mx-2">
            <div class="card-body">
                <h5 class="card-title">增加在地文字</h5>
                <p class="card-text">录入一条在地文字.</p>
                <a href="{% url 'text_place_create' %}" class="btn btn-primary">增加在地文字</a>
            </div>
        </div>
        <div class="card mx-2">
            <div class="card-body">
                <h5 class="card-title">增加物产文字</h5>
                <p class="card-text">录入一条物产文字.</p>
                <a href="{% url 'text_cultural_create' %}" class="btn btn-primary">增加物产文字</a>
            </div>
        </div>
        <div class="card mx-2">
            <div class="card-body">
                <h5 class="card-title">增加文化文字</h5>
                <p class="card-text">录入一条文化文字.</p>
                <a href="{% url 'text_humanistic_create' %}" class="btn btn-primary">增加文化文字</a>
            </div>
        </div>
    </div>
    <!-- Ensure search button is centered and on a new row -->
    <div class="d-flex justify-content-center">
        <div class="card mx-2">
            <div class="card-body text-center">
                <h5 class="card-title">搜索</h5>
                <p class="card-text">搜索所有文字.</p>
                <a href="{% url 'search_text' %}" class="btn btn-primary">搜索</a>
            </div>
        </div>
    </div>
{% endblock %}
