{% extends 'textapp/base.html' %}

{% block title %}增加在地文字{% endblock %}

{% block extra_head %}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">增加在地文字</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
    <label for="id_keywords">关键词</label>
    <input type="text" class="form-control" id="id_keywords" name="keywords" style="width: 50%;">
</div>
    <hr style="border-top: 1px solid #ccc;">
    <div class="form-group">
        <label for="id_information_source">信息来源</label>
        {{ form.information_source }}
    </div>
    <hr style="border-top: 1px solid #ccc;">
    <div class="form-group">
        <label for="id_copyright_owner">知识产权归属</label>
        {{ form.copyright_owner }}
    </div>
    <hr style="border-top: 1px solid #ccc;">
    <div class="form-group">
        <label for="id_information_address">信息地址</label>
        <input type="text" class="form-control" id="id_information_address" name="information_address" style="width: 50%;">
    </div>
    <hr style="border-top: 1px solid #ccc;">

        <div class="form-group">
            <label for="id_place_location_level1">行政区划1级</label>
            {{ form.place_location_level1 }}
        </div>
        <div class="form-group">
            <label for="id_place_location_level2">行政区划2级</label>
            {{ form.place_location_level2 }}
        </div>
        <div class="form-group">
            <label for="id_place_location_level3">行政区划3级</label>
            {{ form.place_location_level3 }}
        </div>
        <hr style="border-top: 1px solid #ccc;">
        <div class="form-group">
            <label for="id_place_natural_level1">自然景观1级</label>
            {{ form.place_natural_level1 }}
        </div>
        <div class="form-group">
            <label for="id_place_natural_level2">自然景观2级</label>
            {{ form.place_natural_level2 }}
        </div>
        <div class="form-group">
            <label for="id_place_natural_level3">自然景观3级</label>
            {{ form.place_natural_level3 }}
        </div>
        <hr style="border-top: 1px solid #ccc;">
        <div class="form-group">
            <label for="id_place_humanistic_level1">人文景观1级</label>
            {{ form.place_humanistic_level1 }}
        </div>
        <div class="form-group">
            <label for="id_place_humanistic_level2">人文景观2级</label>
            {{ form.place_humanistic_level2 }}
        </div>
        <div class="form-group">
            <label for="id_place_humanistic_level3">人文景观3级</label>
            {{ form.place_humanistic_level3 }}
        </div>
        <button type="submit" class="btn btn-primary mt-3">保存</button>
    </form>
</div>

<script>
        $(document).ready(function() {
            function updateSelect(url, elementToUpdate) {
                $.ajax({
                    url: url,
                    success: function(data) {
                        elementToUpdate.empty();
                        elementToUpdate.append('<option value="">---------</option>');
                        $.each(data, function(key, value) {
                            elementToUpdate.append('<option value="' + key + '">' + value + '</option>');
                        });
                    }
                });
            }

            function clearSelect(elementsToClear) {
                $.each(elementsToClear, function(index, element) {
                    element.empty().append('<option value="">---------</option>');
                });
            }

            $('.place_location_level1').change(function() {
                var selectedValue = $(this).val();
                if (selectedValue) {
                    var url = '/core/get_location_level2/' + selectedValue + '/';
                    updateSelect(url, $('.place_location_level2'));
                } else {
                    clearSelect([$('.place_location_level2'), $('.place_location_level3')]);
                }
                clearSelect([$('.place_location_level3')]);
            });

            $('.place_location_level2').change(function() {
                var selectedValue = $(this).val();
                if (selectedValue) {
                    var url = '/core/get_location_level3/' + selectedValue + '/';
                    updateSelect(url, $('.place_location_level3'));
                } else {
                    clearSelect([$('.place_location_level3')]);
                }
            });

            $('.place_natural_level1').change(function() {
                var selectedValue = $(this).val();
                if (selectedValue) {
                    var url = '/core/get_natural_level2/' + selectedValue + '/';
                    updateSelect(url, $('.place_natural_level2'));
                } else {
                    clearSelect([$('.place_natural_level2'), $('.place_natural_level3')]);
                }
                clearSelect([$('.place_natural_level3')]);
            });

            $('.place_natural_level2').change(function() {
                var selectedValue = $(this).val();
                if (selectedValue) {
                    var url = '/core/get_natural_level3/' + selectedValue + '/';
                    updateSelect(url, $('.place_natural_level3'));
                } else {
                    clearSelect([$('.place_natural_level3')]);
                }
            });

            $('.place_humanistic_level1').change(function() {
                var selectedValue = $(this).val();
                if (selectedValue) {
                    var url = '/core/get_humanistic_level2/' + selectedValue + '/';
                    updateSelect(url, $('.place_humanistic_level2'));
                } else {
                    clearSelect([$('.place_humanistic_level2'), $('.place_humanistic_level3')]);
                }
                clearSelect([$('.place_humanistic_level3')]);
            });

            $('.place_humanistic_level2').change(function() {
                var selectedValue = $(this).val();
                if (selectedValue) {
                    var url = '/core/get_humanistic_level3/' + selectedValue + '/';
                    updateSelect(url, $('.place_humanistic_level3'));
                } else {
                    clearSelect([$('.place_humanistic_level3')]);
                }
            });
        });
    </script>
{% endblock %}
