{% extends 'videoapp/base.html' %}
{% load static %}
{% block title %}搜索结果{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center mb-4">"{{ query }}"的搜索结果</h1>
    <form method="GET" action="{% url 'search_video' %}" class="text-center mb-4">
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">搜索</button>
    </form>

    {% if results %}
        <div class="result-container">
            {% for result in results %}
                <div class="result-card">
                        <div class="card-body text-center">
                            {% if result.type == 'VideoPlace' %}
                        <a href="{% url 'video_place_detail' result.data.id %}" class="result-link">
                            在地视频: {{ result.data.keywords }}
                        </a>
                    {% elif result.type == 'VideoCultural' %}
                        <a href="{% url 'video_cultural_detail' result.data.id %}" class="result-link">
                            物产视频: {{ result.data.keywords }}
                        </a>
                    {% elif result.type == 'VideoHumanistic' %}
                        <a href="{% url 'video_humanistic_detail' result.data.id %}" class="result-link">
                            文化视频: {{ result.data.keywords }}
                        </a>
                    {% endif %}
                        </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="text-center mt-4">没有找到搜索结果</p>
    {% endif %}
</div>
{% endblock %}
