{% extends 'videoapp/base.html' %}

{% block title %}视频数据库{% endblock %}

{% block content %}
    <h1 class="mb-4">欢迎来到视频数据库</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">增加在地视频</h5>
                    <p class="card-text">录入一条在地视频.</p>
                    <a href="{% url 'video_place_create' %}" class="btn btn-primary">增加在地视频</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">增加物产视频</h5>
                    <p class="card-text">录入一条物产视频.</p>
                    <a href="{% url 'video_cultural_create' %}" class="btn btn-primary">增加物产视频</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">增加文化视频</h5>
                    <p class="card-text">录入一条文化视频.</p>
                    <a href="{% url 'video_humanistic_create' %}" class="btn btn-primary">增加文化视频</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">搜索</h5>
                    <p class="card-text">搜索所有视频.</p>
                    <a href="{% url 'search_video' %}" class="btn btn-primary">搜索</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
