{% extends 'videoapp/base.html' %}

{% block title %}文化视频详情{% endblock %}

{% block content %}
    <h1 class="mb-4">文化视频详情</h1>
    <p><strong>关键词:</strong> {{ item.keywords }}</p>
    <p><strong>信息地址:</strong> <a href="{{ item.information_address }}">{{ item.information_address }}</a></p>
    <p><strong>知识产权归属:</strong> {{ item.copyright_owner }}</p>
    <p><strong>文件名称:</strong> {{ item.dir_name }}</p>
    <p><strong>详细名称:</strong> {{ item.special_name }}</p>
    <p><strong>季节:</strong> {{ item.season }}</p>
    <p><strong>视频类型:</strong> {{ item.video_class }}</p>
    <p><strong>画幅:</strong> {{ item.picture_frame }}</p>

    <p><strong>文化类型1级:</strong> {{ item.humanistic_category_level1.name }}</p>
    <p><strong>文化类型2级:</strong> {{ item.humanistic_category_level2.name }}</p>

    <p><strong>文化遗产1级:</strong> {{ item.humanistic_heritage_level1.name }}</p>
    <p><strong>文化遗产2级:</strong> {{ item.humanistic_heritage_level2.name }}</p>

    <p><strong>文化专题1级:</strong> {{ item.humanistic_topic_level1.name }}</p>
    <p><strong>文化专题2级:</strong> {{ item.humanistic_topic_level2.name }}</p>

    <a href="{% url 'video_home' %}" class="common-btn mt-4">返回主页</a>
    <button class="common-btn mt-4" onclick="window.history.back()">上一级</button>
{% endblock %}
