{% extends 'videoapp/base.html' %}

{% block title %}物产视频详情{% endblock %}

{% block content %}
    <h1 class="mb-4">物产视频详情</h1>
    <p><strong>关键词:</strong> {{ item.keywords }}</p>
    <p><strong>信息地址:</strong> <a href="{{ item.information_address }}">{{ item.information_address }}</a></p>
    <p><strong>知识产权归属:</strong> {{ item.copyright_owner }}</p>
    <p><strong>文件名称:</strong> {{ item.dir_name }}</p>
    <p><strong>详细名称:</strong> {{ item.special_name }}</p>
    <p><strong>季节:</strong> {{ item.season }}</p>
    <p><strong>视频类型:</strong> {{ item.video_class }}</p>
    <p><strong>画幅:</strong> {{ item.picture_frame }}</p>

    <p><strong>初级农产品1级:</strong> {{ item.cultural_agri_product_level1.name }}</p>
    <p><strong>初级农产品2级:</strong> {{ item.cultural_agri_product_level2.name }}</p>

    <p><strong>美食1级:</strong> {{ item.cultural_delicacies_level1.name }}</p>
    <p><strong>美食2级:</strong> {{ item.cultural_delicacies_level2.name }}</p>

    <p><strong>加工食品1级:</strong> {{ item.cultural_processed_product_level1.name }}</p>
    <p><strong>加工食品2级:</strong> {{ item.cultural_processed_product_level2.name }}</p>

    <a href="{% url 'video_home' %}" class="btn btn-secondary mt-4">返回主页</a>
    <button class="btn btn-secondary mt-4" onclick="window.history.back()">上一级</button>
{% endblock %}
